<footer class="footer mt-auto pt-3">
    <div class="container-fluid">
        <div class="row bg-dark py-3 d-flex flex-row justify-content-between  align-items-center">

            <span class="text-light text-left w-auto">&copy; Copyright | {{ title }}</span>

            <ul class="social-networks w-auto m-0">
                <li>
                    <a href=" " class="ico icoLinkedin text-light" title="Linkedin">
                        <fa-icon [icon]="faLinkedin"></fa-icon>
                    </a>
                </li>
                <li>
                    <a href=" " class="ico icoGithub  text-light" title="Github ">
                        <fa-icon [icon]="faGithub "></fa-icon>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>