<footer class="footer mt-auto pt-3 bg-secondary text-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-light">
                    Nossas redes sociais
                </h4>
            </div>
        </div>
        <div class="row">
            <ul class="p-2">
                <li>
                    <a href=" " class="icoLinkedin text-light" title="Linkedin">
                        <fa-icon [icon]="faLinkedin "></fa-icon>
                    </a>
                </li>
                <li>
                    <a href=" " class="icoGithub  text-light" title="Github ">
                        <fa-icon [icon]="faGithub "></fa-icon>
                    </a>
                </li>
            </ul>
        </div>
        <div class="row bg-dark py-3 ">
            <span class="text-light ">&copy; copyright | OI!?</span>
        </div>
    </div>
</footer>