<div class="mt-5 mb-5">
    <div class="container">
        <div class="d-flex justify-content-end mb-3">
            <h3 class="text-center mb-2 pb-2 font-monospace border-bottom">Feeds adicionados</h3>
            <button class="btn btn-outline-success mb-3 ms-auto w-30" (click)="onToggleForm()">Add Feed</button>
        </div>

        <ag-loader *ngIf="loading$ | async"></ag-loader>
        <div *ngIf="!(loading$ | async) && !(error$ | async) && !!listFeed">

            <div class="card mb-4" *ngFor="let feed of listFeed">
                <div class="card-title">
                    <h5 class="badge rounded-pill bg-dark position-absolute top-0 translate-middle">{{ feed.id }}</h5>
                </div>

                <div class="card-body">
                    <div class="h6 border-bottom pb-2">
                        {{ feed.name }}
                    </div>
                    <p class="card-text">{{ feed.message }}</p>
                </div>

            </div>
        </div>
    </div>
</div>