<div class="card text-center border-0">

    <img src="../../../../app/assets/img/PERFIL.png" alt="Foto do usuário" class="card-image-top rounded-circle w-75 mx-auto">

    <div class="card-body">

        <h5 class="class-title">André Aguiar</h5>
        <p class="card-text">WEB Fullstack developer.</p>

        <a href="https://github.com/AndrehAguiar" target="_blank" class="btn btn-outline-dark d-flex justify-content-center ico icoGithub ">
            <fa-icon [icon]="faGithub" class="me-2"></fa-icon> Github
        </a>

        <hr class="my-4">

        <div class="form-group">
            <h6 class="mb-3 font-monospace text-center">Pesquisar por nome</h6>
            <fd-feed-typeahead [listFeeds$]="listFeeds$" [formControl]="searchControl"></fd-feed-typeahead>
        </div>

        <button class="btn btn-outline-warning w-100" [disabled]="disableSearch" (click)="clearSearch()">
            <fa-icon [icon]="faSearch" class="me-2"></fa-icon> 
            Pesquisar
        </button>
    </div>

</div>