<div class="container py-5">
    <div class="row my-5">
        <div class="col-md-4">
            <div class="card text-center border-0">

                <img src="../../../../app/assets/img/PERFIL.png" alt="Foto do usuário" class="card-image-top rounded-circle w-75 mx-auto">

                <div class="card-body">
                    <h5 class="class-title">André Aguiar</h5>
                    <p class="card-text">WEB Fullstack developer.</p>
                    <a href="https://github.com/AndrehAguiar" target="_blank" class="btn btn-outline-dark d-flex justify-content-center ico icoGithub ">
                        <fa-icon [icon]="faGithub" class="me-2"></fa-icon> Github</a>
                    <hr class="my-4">
                    <h5 class="mb-3 font-monospace text-center">Pesquisar por título</h5>
                    <input type="text" name="search-title" id="" class="form-control md-3 w-100">
                    <button class="btn btn-outline-warning w-100">Pesquisar</button>
                </div>

            </div>
        </div>
        <div class="col-md-8 ps-5">
            <div>
                <h3 class=" text-center mb-4 font-monospace ">Digite abaixo os seus comentários:</h3>
                <div class="form-group ">
                    <label for="titulo " class="font-monospace ">Título:</label>
                    <input type="text " name="titulo " id="titulo " class="form-control " placeholder="Digite o título da postagem ">
                </div>
                <div class="form-group ">
                    <label for="feed " class="font-monospace ">Feed: </label>
                    <textarea name="feed " id="feed " cols="30 " rows="10 " class="form-control " placeholder="Digite seu feed "></textarea>
                </div>
                <div class="button-group d-flex justify-content-end">
                    <button type="button" class="btn btn-outline-info w-25 mt-2">Publicar</button>
                </div>
            </div>
            <hr class="my-4">
        </div>
    </div>
</div>