<div>
    <form [formGroup]="feedForm" #form="ngForm" (ngSubmit)="onSubmit()">
        <h3 class=" text-center mb-4 font-monospace ">Digite abaixo os seus comentários:</h3>

        <div class="form-group mb-2">
            <label for="name " class="font-monospace ">Nome:</label>
            <input type="text " name="name " id="name " class="form-control " placeholder="Digite o seu nome" required minlength="4" formControlName='name' [(ngModel)]='feed.name' ng-model="feed">

            <div *ngIf="
            name.touched && name.hasError('required') || 
            name.touched && name.hasError('minlength')" class="alert alert-danger">

                <span *ngIf="name.errors?.required">
                    Name is required.
                </span>
                <span *ngIf="name.errors?.minlength">
                    Name must be at least 4 characters long.
                </span>

            </div>
        </div>

        <div class="form-group mb-2">
            <label for="feed " class="font-monospace ">Feed: </label>
            <textarea name="message " id="feed " cols="30 " rows="10 " class="form-control " placeholder="Digite seu feed" required formControlName="message" [(ngModel)]="feed.message"></textarea>

            <div *ngIf="message.touched && message.hasError('required') || 
            message.touched && message.hasError('minlength')" class="alert alert-danger">

                <span *ngIf="message.errors?.required">
                    Message is required.
                </span>
                <span *ngIf="message!.errors?.minlength">
                    Name must be at least 10 characters long.
                </span>

            </div>
        </div>

        <div class="d-flex justify-content-between">

            <button type="button" class="btn btn-outline-danger mt-2" (click)="onToggleForm()">Cancelar</button>

            <button type="submit" class="btn btn-outline-info mt-2" [disabled]="!feedForm.valid">Publicar</button>

        </div>

    </form>

</div>
<hr class="my-4">